body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3rem;
}

img.logo {
  width: 40%
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

.left {
  float: left
}

.right {
  float: right;
}

.card {
  display: inline-block;
  width: 40%
}

img.tile-image {
  width: 100%;
}

@media (max-width: 800px) {
  .card {
    display: block;
    width: 100%;
  }
  img.tile-image {
    float: none;
    width: 100%;
  }
  h2.card-title {
    margin-top: 0px;
  }

}
